<div class="row">
    <div class="input-group">
      <input type="text" id='searchConList' class="form-control" placeholder="Search Con List..." [(ngModel)]='searchTerm'>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)='search()'><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
      </span>   
    </div><!-- /input-group -->
    <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]='fuzzySearch'>Fuzzy Search</label>
      </div>
    <hr class="half-rule" />
</div>
<div class="row">    
    <ul class="list-group">        
        <li class="list-group-item" *ngFor='let searchResult of results'>                    
            <h5><strong>Group ID : {{searchResult.GroupID}}</strong></h5>
            <h5>{{searchResult.Name6}}</h5> 
            <p>{{searchResult.Name1}} {{searchResult.Name2}} {{searchResult.Name3}} {{searchResult.Name4}} {{searchResult.Name5}} </p>

        </li>
    </ul>
</div>