<div class="container">
    <div class="input-group">
      <input type="text" id='searchConList' class="form-control" placeholder="Search Con List..." [(ngModel)]='searchTerm'>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)='search()'>Search</button>
      </span>
    </div><!-- /input-group -->
    <hr class="half-rule" />
    <ul class="list-group">        
        <li class="list-group-item" *ngFor='let searchResult of results'>                    
            <h5>{{searchResult.Name6}}</h5> 
            <p>{{searchResult.Name1}} {{searchResult.Name2}} {{searchResult.Name3}} {{searchResult.Name4}} {{searchResult.Name5}} </p>

        </li>
    </ul>
</div>